<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D7Shop</title>
    <script src="static/layui/jquery-3.2.1.min.js"></script>
    <script src="static/layui/layui.js"></script>
</head>
<body>
<!--引入头部导航-->
{include file="index/D7_head" /}

<!--引入主体文件-->
{include file="index/D7_body" /}

<!--引入底部页脚-->
{include file="index/D7_footer" /}
<!--后续首页广告也可在此页面添加-->
</body>
</html>


